Repository howdyai/botkit, pull requests merged in 2018-03, with the labels that each got.

#1265 Extend Facebook's user profile object with locale.
  lib/Facebook.js
Labels: Facebook-related, enhancement

#1284 Remove HTTPS governor
  lib/CiscoSparkbot.js
Labels: Cisco-related, bug

#1285 Modify duplicated `users.identity` to be `users.lookupByEmail`
  lib/Slack_web_api.js
Labels: Slack-related, enhancement

#1253 returning 500 status code under error conditions
  lib/SlackBot.js
Labels: Slack-related, bug

#1296 Log bad JSON received by Slack if Slack sends us bad JSON.
  lib/Slackbot_worker.js
Labels: Slack-related, enhancement
