Repository howdyai/botkit, pull requests merged in 2018-12, with the labels that each got.

#1544 Remove Botkit Studio metrics features
  changelog.md
  lib/CoreBot.js
  lib/Studio.js
  package.json
Labels: next_release

#1497 Add Facebook Personas API
  examples/facebook_bot.js
  lib/Facebook.js
Labels: Facebook-related, enhancement, next_release

#1539 use hmac compare instead of direct compare
  lib/SlackBot.js
Labels: Slack-related, enhancement

#1520 Closes #1518: Allow Promises when on Facebook API calls
  lib/Facebook.js
Labels: Facebook-related, enhancement

#1543 hangouts chat: allow to consume auth data from env var instead of file
  lib/GoogleHangoutsBot.js
Labels: enhancement, google-hangouts-related

#1547 set useQuerystring to true in Slack API
  lib/Slack_web_api.js
Labels: Slack-related, bug

#1517 Create issue template file
  .github/issue_template.md
Labels: documentation, enhancement

#1548 Change 500 to 404 when team not found
  lib/SlackBot.js
Labels: Slack-related, bug
