Repository howdyai/botkit, pull requests merged in 2018-04, with the labels that each got.

#1300 Promisify Facebook messenger profile API
  lib/Facebook.js
Labels: Facebook-related, enhancement

#1301 Fix #1279
  lib/Facebook.js
Labels: Facebook-related, bug

#1315 Correction of array name to receive attachments
  docs/readme-ciscospark.md
Labels: documentation, enhancement

#1312 FB require_delivery: Remove use of message.delivery.mids because not guaranteed
  lib/Facebook.js
Labels: Facebook-related, bug
